<div class="container">

<div class="row">
  <div class="col">
    <h1>Home</h1>
  </div><!-- ../col -->
</div><!-- ../row -->

<div class="row my-3">
  <div class="col">
    <p class="my-3 sectionhead"> Smart Listner</p>
    <!-- Smart Listner Owl Carousel  -->
    <app-card [jsonData]="smartlistner"></app-card> 
    
   
  </div> <!-- ./End of col -->
</div> <!-- ./row-->

<div class="row">
  <div class="col">
    <p class="my-3 sectionhead">Recently Played</p>
      <!-- Recent Listner Owl Carousel  -->
      <app-card [jsonData]="recentListner" ></app-card> 
      
  </div> <!-- ./End of col -->
</div> <!-- ./row-->

</div> <!-- ./container-->