* {
 color:#adb5bd;
}
.sectionhead {
    font-weight: 500;
}
.card{
    background:#f8f9fa;
    text-align: left;
    padding: 15px;
    width: 185px;
    border-radius: 5%;
    border: 0px;
    min-height: 270px; 
    img{ padding-bottom: 15px; }  
   .artist { font-weight:450; }
   .type { font-size: 13px;}
   .year {font-size: 12px;}
}
    