/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
.owl-theme .owl-nav {
    float: right;
    margin-top: -325px;
   }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
    float: right;
    margin-top: -320px;
    margin-right: 33px;
    }
   .owl-prev, .owl-next{
    color: black !important;
    width: 40px !important;
    border-radius: 31px !important;
    font-size: 24px !important;
    background: #f8f9fa !important;
   }
   