<!--Carousel Start here  -->
<owl-carousel-o [options]="smartli"  >
  <ng-template carouselSlide *ngFor="let list of jsonData" > 
      <div class="card"  >
        <!-- ./Image receive as encouded base 64format -->
        <img src="{{'data:image/jpg;base64,' + list.base64Image}}" /> 
        <span class="artist">{{list.artist}}</span>
        <span class="type">{{list.type}}</span> 
        <span class="year">{{list.year}}</span>
      </div>
  </ng-template>  
</owl-carousel-o>
<!--./Carousel End here  -->